* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


body {
    background-image: linear-gradient(350deg, #befffb 0, #9bf1eb 25%, #6cd8d8 50%, #2abfc6 75%, #00acbb 100%);
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #2abfc6;
    box-shadow: 0 4px 25px -22px #000;
    z-index: 2;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #fff;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.menu {
    height: 60px;
}

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
}

.menu nav ul li {
    height: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li a {
    color: #fff;
    transition: color 300ms;
}

.menu nav ul li a:hover {
    color: rgb(145, 224, 255)
}

.menu .text-menu-selected {
    color:hsl(0, 0%, 100%);
}

.container-all {
    width: 90%;
    max-width: 1200px;
    padding: 100px;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner_title h1 {
    font-family: 'Montserrat', sans-serif;;
    color: #fff;
    font-size: 70px;
    font-weight: 80px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.banner_title .text {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}

.banner_title .question {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner_title .calcula {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #00acbb;
    padding: 20px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.banner_img {
    animation: movimiento 2.5s linear infinite;
    margin-left: 30%;
}

.banner_img img {  
    display: block;
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background: rgb(102, 211, 245);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    z-index: 1;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup.active {
    top: 60%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element .label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="number"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="radio"] {
    margin-right: 5px;
    margin-top: 7px;
}

.popup .form .button-row button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background-color: rgb(82, 191, 241);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}

.modal__calcula {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #111111bd;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
    --transform: translateY(-100vw);
    --transition: transform .8s;
}

.modal__calcula1 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    background-color: #111111bd;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.6s;
    --transform: translateY(-100vw);
    --transition: transform .8s;
}


.modal--show {
    opacity: 1;
    pointer-events: unset;
    z-index: 3;
    --transform: translateY(0);
    --transition: transform .8s .2s;
}

.modal--show1 {
    opacity: 1;
    pointer-events: unset;
    z-index: 3;
    --transform: translateY(0);
    --transition: transform .8s .2s;
}

.modal__container {
    margin: auto;
    width: 90%;
    max-width: 700px;
    max-height: 100%;
    background-color:#6cd8d8;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    text-align: center;
    transform: var(--transform);
    transition: var(--transition);
}

.modal__title {
    font-size: 2.5rem;
}

.modal__paragraph {
    margin-bottom: 10px;
}

.modal__vinculo {
    color:#fff;
    font-weight: 600;
}

.modal__container img {
    width: 20%;
    max-width: 300px;
}

.modal__close, .modal__close1{
    text-decoration: none;
    color: #fff;
    background-color: #08beb2;
    padding: 1em 3em;
    border-radius: 6px;
    display: inline-block;
    font-weight: 600;
    transition: background-color .3s;
}

.modal__close:hover {
    color: #08beb2;
    background-color: #fff;
}

.modal__close1:hover {
    color: #08beb2;
    background-color: #fff;
}

.footer {
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 152, 250);
    text-align: center;
    width: 100%;
    height: 50px;
}

.burbuja {
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: 0;

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
    z-index:0;
}

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7) {
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8) {
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(10) {
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }

    30% {
        transform: translateX(30px);
    }

    50% {
        opacity: .4;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }

}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }

}

@media screen and (max-width: 1200px) {
   .banner,
   .banner_img {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px) {
    .banner
     {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .banner {
        width: 100%;
        flex-direction: column;
    }
}

/* estilo de recipe.html */

.titulo-recipe h1{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 3em;
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
}

.container-recipe {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
}

.card {
    position: relative;
    width: 600px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    transition: 0.5s;
}

.card .circle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.card .circle::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#0dd1d8;
    clip-path: circle(120px at center);
    transition: 0.5s;
}

.card:hover .circle:before {
    background: #0cbfc5;
    clip-path: circle(400px at center);
}

.card .content-image img {
    position: absolute;
    top: 50%;
    left: 52%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card .content-recipe,
.content-recipe1,
.content-recipe2 {
    position: relative;
    left: 20%;
    width: 50%;
    padding: 20px 60px 20px 40px;
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
}

.card:hover .content-recipe {
    left:0;
    opacity: 1;
    visibility: visible;
}

.card .content-recipe h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
}

.card .content-recipe p {
    color: #fff;
}

.card .content-recipe a {
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: rgb(2, 180, 180);
    margin-top: 10px;
    display: inline-block;
}

.card .content-image1 img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 250px;
    pointer-events: none;
    transition: 0.5s;
}

.card .content-recipe1 h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
}

.card .content-recipe1 p {
    color: #fff;
}

.card .content-recipe1 a {
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: rgb(2, 180, 180);
    margin-top: 10px;
    display: inline-block;
}

.card:hover .content-recipe1 {
    left:0;
    opacity: 1;
    visibility: visible;
}

.card .content-image2 img {
    position: absolute;
    top: 48%;
    left: 49%;
    transform: translate(-50%,-50%);
    height: 270px;
    pointer-events: none;
    transition: 0.5s;
}

.card .content-recipe2 h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1em;
    margin-bottom: 10px;
}

.card .content-recipe2 p {
    color: #fff;
}

.card .content-recipe2 a {
    position: relative;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    color: rgb(2, 180, 180);
    margin-top: 10px;
    display: inline-block;
}

.card:hover .content-recipe2 {
    left:0;
    opacity: 1;
    visibility: visible;
}

.card:hover img {
    left: 72%;
    height: 400px;
}

.recetas-modal, .recetas-modal1, .recetas-modal2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #111111bd;
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index:2;
    transition: opacity .6s;
    --transform: translateY(-100vw);
    --transition: transform .8s;
}

.modalhummus--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

.modalrisotto--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

.modalpollo--show {
    opacity: 1;
    pointer-events: unset;
    transition: opacity .6s;
    --transform: translateY(0);
}

.container-modal {
    margin: auto;
    width: 100%;
    max-width: 800px;
    max-height: 90%;
    background-color: #2abfc6;
    border-radius: 6px;
    padding: 3em 2.5em;
    display: grid;
    gap: 1em;
    place-items: center;
    grid-auto-columns: 100%;
    overflow:auto;
    transform: var(--transform);
    transition: var(--transition);
}

.title-modal {
    font-size: 1em;
}

ul li span {
    color: #fff;
    font-weight: 600;
}

.paragraph-modal {
    margin-bottom: 10px;
    text-align: center;
}

.close-modal, .close-modal1, .close-modal2 {
    text-decoration: none;
    color: #fff;
    background-color: #0e8f9b;
    padding: 1em 3em;
    border-radius: 6px;
    display: inline-block;
    font-weight: 600;
    transition: background-color .3s;
}

.close-modal:hover {
    color: #0e8f9b;
    background-color: #fff;

}

@media (max-width: 991px) {
    .card {
        width: auto;
        max-width: 350px;
        align-items: flex-start;
        margin: 10px;
    }
    .card:hover {
        height: 600px;
    }
    .card .content-recipe {
        width: 100%;
        left: 0;
        padding: 40px;
    }
    .card .content-recipe1 {
        width: 100%;
        left: 0;
        padding: 40px;
    }
    .card .content-recipe2 {
        width: 100%;
        left: 0;
        padding: 40px;
    }
    .card:hover img {
        top: 60%;
        left: 50%;
        height: 300px;
    }
}

@media (max-width: 420px) {
    .card .content-recipe, .content-recipe1, .content-recipe2 {
        padding: 20px;
    }
}