* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}


body {
    background-image: linear-gradient(350deg, #befffb 0, #9bf1eb 25%, #6cd8d8 50%, #2abfc6 75%, #00acbb 100%);
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #2abfc6;
    box-shadow: 0 4px 25px -22px #000;
    z-index: 2;
}

.header-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    color: #fff;
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.menu {
    height: 60px;
}

.menu nav {
    height: 100%;
}

.menu nav ul {
    height: 100%;
    display: flex;
}

.menu nav ul li {
    height: 100%;
    margin: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu nav ul li a {
    color: #fff;
    transition: color 300ms;
}

.menu nav ul li a:hover {
    color: rgb(145, 224, 255)
}

.menu .text-menu-selected {
    color:hsl(0, 0%, 100%);
}

.container-all {
    width: 90%;
    max-width: 1200px;
    padding: 100px;
    align-items: center;
}

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.banner_title h1 {
    font-family: 'Montserrat', sans-serif;;
    color: #fff;
    font-size: 70px;
    font-weight: 80px;
    margin-bottom: 50px;
}

.banner_title .text {
    color: #fff;
    font-size: 20px;
    margin-bottom: 30px;
}

.banner_title .question {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.banner_title .calcula {
    color: #fff;
    font-size: 20px;
    text-decoration: none;
    display: inline-block;
    background: #00acbb;
    padding: 20px;
    border: none;
    border-radius: 10%;
    cursor: pointer;
}

.banner_img {
    animation: movimiento 2.5s linear infinite;
    margin-left: 40%;
}

.banner_img img {  
    display: block;
}

.popup {
    position: absolute;
    top: -150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.25);
    width: 400px;
    padding: 20px 30px;
    background: rgb(102, 211, 245);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    z-index: 2;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 20ms ease-in-out 0ms;
}

.popup.active {
    top: 60%;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: #888;
    color: #eee;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}

.popup .form h2 {
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 10px 0px 20px;
    font-size: 25px;
}

.popup .form .form-element {
    margin: 15px 0px;
}

.popup .form .form-element .label {
    font-size: 14px;
    color: #222;
}

.popup .form .form-element input[type="text"],
.popup .form .form-element input[type="number"] {
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 5px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}

.popup .form .form-element input[type="radio"] {
    margin-right: 5px;
    margin-top: 7px;
}

.popup .form .button-row button {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: rgb(82, 191, 241);
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
}


.footer {
    font-family: 'Montserrat', sans-serif;
    color: rgb(6, 152, 250);
    text-align: center;
    width: 100%;
    height: 50px;
}

.burbuja {
    border-radius: 50%;
    background: #fff;
    opacity: .3;

    position: absolute;
    bottom: 0;

    animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1) {
    width: 80px;
    height: 80px;
    left: 5%;
    animation-duration: 3s;
    animation-delay: 3s;
}

.burbuja:nth-child(2) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(3) {
    width: 20px;
    height: 20px;
    left: 15%;
    animation-duration: 1.5s;
    animation-delay: 7s;
}

.burbuja:nth-child(4) {
    width: 70px;
    height: 70px;
    left: 65%;
    animation-duration: 3s;
    animation-delay: 1s;
}

.burbuja:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 90%;
    animation-duration: 6s;
    animation-delay: 3s;
}

.burbuja:nth-child(6) {
    width: 20px;
    height: 20px;
    left: 50%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(7) {
    width: 100px;
    height: 100px;
    left: 52%;
    animation-duration: 4s;
    animation-delay: 5s;
}

.burbuja:nth-child(8) {
    width: 65px;
    height: 65px;
    left: 51%;
    animation-duration: 5s;
    animation-delay: 5s;
}

.burbuja:nth-child(9) {
    width: 100px;
    height: 100px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 5s;
}

.burbuja:nth-child(10) {
    width: 40px;
    height: 40px;
    left: 35%;
    animation-duration: 3s;
    animation-delay: 4s;
}

@keyframes burbujas {
    0% {
        bottom: 0;
        opacity: 0;
    }

    30% {
        transform: translateX(30px);
    }

    50% {
        opacity: .4;
    }

    100% {
        bottom: 100vh;
        opacity: 0;
    }

}

@keyframes movimiento {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(30px);
    }

    100% {
        transform: translateY(0);
    }

}

@media screen and (max-width: 1200px) {
   .banner,
   .banner_img {
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px) {
    .banner
     {
        width: 100%;
        flex-direction: column;
    }
}

@media screen and (max-width: 900px) {
    .banner {
        width: 100%;
        flex-direction: column;
    }
}



